.App{
  margin: 10px 30px 30px 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-position: 100%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE4iu7zDZal7uqDLqNogycJOKUQsW7AwUfag&usqp=CAU);
  
}
.App img{
  width: 250px;
}
